<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $title := cond .IsHome site.Title (printf "%s - %s" .Title site.Title) }}
<title>{{ $title }}</title>
<meta name="description" content="{{ .Description | default site.Params.description }}">
{{- with site.Params.favicon }}
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>{{ . }}</text></svg>">
{{- end }}
{{- $css := resources.Get "css/main.css" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
